{% extends 'base.html.twig' %}

{% block title %}{{ room.name }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header mt-3">
            <div>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('app_schedule') }}">{% trans %}Schedule{% endtrans %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ room.name }}</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card mt-3">
                    <div class="card-header d-flex justify-content-between">
                        <h2 class="card-title">{{ room.name }}</h2>
                        <div class="card-toolbar d-flex align-items-center">
                            <a class="btn btn-primary" href="{{ path('app_schedule_room_booking_new', {'uuid': room.uuid}) }}">{% trans %}Add booking{% endtrans %}</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div id="calendar-holder" data-filter-room="{{ room.id }}" data-events-url="{{ path('fc_load_events') }}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('calendar') }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {{ encore_entry_script_tags('calendar') }}
{% endblock %}